figure img {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
}

figcaption {
    text-align:center; 
    font-size:smaller; 
    font-style:italic;
}

.diagram {
    border: 3px solid black;
}

.main-content table {
    width: fit-content !important;
    margin: auto;
}

#1d-list-of-acronyms p {
    margin-left: 2em;
}

div.benchmarking table {
    border-collapse: collapse;
}

div.benchmarking td, div.benchmarking th {
    border: 1px solid #dddddd;
    padding: 8px;
}

div.benchmarking thead {
    background-color: #dddddd;
}

div.benchmarking tr:nth-child(even) {
    background-color: #dddddd;
}

.red_text {
    color:red
}
