p.img {
    width:fit-content;
    margin: auto;
}

figcaption {
    width:fit-content;
    margin: 0em 2em;
    font-style: italic;
}

div.benchmarking table {
    border-collapse: collapse;
    width: fit-content;
    margin: auto;
}

div.benchmarking td, div.benchmarking th {
    border: 1px solid #dddddd;
    padding: 8px;
}

div.benchmarking thead {
    background-color: #dddddd;
}

div.benchmarking tr:nth-child(even) {
    background-color: #dddddd;
}

.red_text {
    color:red
}