.main-content img[alt="Figure 3"] {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    height: 100px;
}

figcaption {
    font-size: small;
    font-style: italic;
}

div.benchmarking table {
    border-collapse: collapse;
    width: fit-content;
    margin: auto;
}

div.benchmarking td, div.benchmarking th {
    border: 1px solid #dddddd;
    padding: 8px;
}

div.benchmarking thead {
    background-color: #dddddd;
}

div.benchmarking tr:nth-child(even) {
    background-color: #dddddd;
}

.red_text {
    color:red
}